*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .banner {
    background: linear-gradient(360deg, transparent 2%, rgb(151, 248, 224));
  }

  .banner h1 {
    text-align: center;
    font-size: 1.8em;
    margin: 0 0 30px 0;
    padding: 20px;
    color: white;
  }

  body {
    font-family: 'Courier', sans-serif;
    color: rgb(195, 220, 246);
    margin: 0;
    padding: 0;
    background: url("image/background.jpg") fixed;
  }

  hr.thick {
    background: black;
    height: 5px;
  }

  hr.thin {
    background: black;
    height: 3px;
    margin-bottom: 28px;
  }
  
  form {
    max-width: 300px;
    margin: auto;
    border-radius: 8px;
    font-size: 1.3em;
  }

  .checkbox-group,
  .radio-group {
    display: block;
    line-height: 12px;
  }

  h2 {
    text-align: center;
    font-size: 1.3em;
    width: 100%;
  }

  p.signup-caption {
    text-align: center;
    color: rgb(168, 253, 232);
    font-style: italic;
    font-size: .8em;
    margin-bottom: 48px;
    background:linear-gradient(to right, transparent 1%,black);
    backdrop-filter: blur(3px);
  }

  p.copyright {
    text-align: center;
    color: rgb(168, 253, 232);
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 48px;
    background:linear-gradient(to right, transparent 1%,black);
    backdrop-filter: blur(3px);
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select[id="state"] {
    background: rgba(255,255,255,0.1);
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    font-family: 'Courier', monospace;
    height: auto;
    margin: 0 0 30px 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #fcefd9;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  }
  
  textarea {
    padding: 10px;
    margin: 0 0 30px 0;
    width: 300px;
    height: 100px;
  }

  textarea:hover {
    background-color:rgb(213, 236, 247);
    transition: all 1s ease-out;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
    background-color: #fcefd9;
  }
  
  input:focus {
    border: 2px solid black;
  }

  input:hover {
    background-color:rgb(155, 221, 254);
    transition: all 1s ease-out;
  }

  input[placeholder="Required"] {
    text-align: right;
    font-style: italic;
    font-family: 'Courier', sans-serif;
  }
  
  input[placeholder="Required"]:focus {
    text-align: left;
  }

  select {
    padding: 6px;
    width: 100%;
    height: 32px;
    border-radius: 2px;
  }

  option:first-of-type {
    display: none;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background: linear-gradient(360deg, transparent 1%, #4cf5fb);
    font-size: 18px;
    font-family: 'Courier', sans-serif;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    border: .5px solid #424a90;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.01);
    margin-bottom: 10px;
  }
  
  button:hover {
    background:linear-gradient(360deg, transparent 1%, rgb(155, 221, 254));
    transition: all 1s ease-out;
    color: black;
  }
  
  input#html-news,
  input#css-news,
  input#javascript-news,
  input#html,
  input#plain-text {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    transform: scale(2);
  }

  fieldset {
    margin-bottom: 10px;
    padding: 0;
    border: none;
    background:linear-gradient(to bottom, transparent 1%,black);
    backdrop-filter: blur(3px);
  }
  
  legend {
    font-size: 1.35em;
    font-weight: bold;
    margin-bottom: 18px;
    width: 100%;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  @media screen and (min-width: 768px) {
  
    form {
      max-width: 800px;
    }

    div.form-group {
      display: flex;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select[id="state"] {
        width: 100%;
        display: block;
    }

    input#zip {
        width: 30%;
    }

    select[id="state"]:hover {
      background-color:rgb(155, 221, 254);
      transition: all 1s ease-out;
    }

    label {
        display: block;
        flex-basis: 50%;
        height: 50px;
        line-height: 50px;
    }
    
    label[for="zip"] {
        flex-basis: 33%;
    }

    legend {
        width: 100%;
    }

  }
  